%h1{:style => "font-family: 'FontAwesome';"}

.project
  %h2 San Francisco's Food Trucks
  = link_to icon("link", 1.5), "//eatlikeadiplomat.herokuapp.com/"
  = link_to icon("github", 1.5), "//github.com/Jauny/foodtrucks"
  %p
    = image_tag "foodtrucks.png"
    %br/
    %ul
      %li Backend: Sinatra, with Sprockets for Assets Pipeline
      %li Frontend: Backbone, Underscore, jQuery
      %li API: Google Maps (map/geolocation), data.sfgov.org (foodtrucks)

.project
  %h2 Swiv
  = link_to icon("link", 1.5), "//www.swiv.co/"
  = link_to icon("github", 1.5), "//github.com/jauny/swiv"
  %p
    = image_tag "swiv.png"
    %br/
    A web application on Ruby on Rails allowing you to follow your favourite TV shows and mark episodes as seen, so you always remember which episode are yet to be watched.

.project
  %h2 The TVDB Gem
  = link_to icon("link", 1.5), "//rubygems.org/gems/tvdb_ruby/"
  = link_to icon("github", 1.5), "//github.com/Jauny/tvdb_ruby"
  %p
    = image_tag "tvdb.png"
    %br/
    After struggling with the ruby non-friendly API of TheTVDB.com, the open-source, crowed-filled, TV shows database I used for Swiv, I decided to build that simple gem, allowing to easily use the TVDB data from a Rails app!

.project
  %h2 Twitch Chrome Extension
  = link_to icon("link", 1.5), "//chrome.google.com/webstore/detail/twitch-streams-list/kmfiiggplngibngfnaeclbcbeajpoepc"
  %p
    = image_tag "chrwitch.png"
    %br/
    A Chrome Extension allowing you to simply and quickly see the most popular streams on Twitch TV, to the reach of only one single click.
    %br/
    Then select the stream you want to watch, and a new tab will open the stream's twitch page.
    %br/
    It's as simple as it get!

.project
  %h2 Twitchr
  = link_to icon("link", 1.5), "//twitchr.herokuapp.com/"
  = link_to icon("github", 1.5), "//github.com/Jauny/twitchapp"
  %p
    = image_tag "twitchr.png"
    %br/
    My first project while at DevBootcamp.
    %br/
    I wanted to discover how to work with APIs, and how to do background jobs with Heroku Scheduler. It was also to showcase myself to Twitch, hoping to land a job. I got hired at Exec, founded by Justin Kan, co-founder of Twitch, so I guess it worked!
