%header
  .header-container
    .intro.left
      Hello, World!
      %br/
      I'm
      = succeed "," do
        %span Jonathan
      from
      = succeed "." do
        %span Paris
      %br/
      One day I realized I wanted to
      %br/
      make the world better,
      %br/
      so I came to
      = succeed "," do
        %span San Francisco
      %br/
      went through #{link_to "DevBootcamp", "http://www.devbootcamp.com/"},
      %br/
      and now work as a
      %br/
      %span Software Engineer
      at #{link_to "Exec", "http://iamexec.com/"}!

    = link_to image_tag("profile.png"), root_path

    #intro-small
      %p
        Hi, I'm
        %span Jonathan
        a
        %span Software Enginner
        at
        = link_to "Exec", "//iamexec.com"
        :plain
          :)
        %br/
        = link_to icon("twitter", 2), "//www.twitter.com/Jauny"
        _
        = link_to icon("linkedin", 2), "//www.linkedin.com/profile/view?id=13273106"
        _
        = link_to icon("github-sign", 2), "//github.com/Jauny"
        _
        = mail_to "jypepin@gmail.com", icon("envelope-alt", 1.7)

    .intro.right
      %p
        When I'm not at work,
        %br/
        I usually ride, or race, my
        = succeed "." do
          %span motorcycle
        %br/
        If on the computer, it's to
        %br/
        tinker on
        = succeed "," do
          = link_to "side projects", projects_path
        %br/
        or watch
        = succeed "." do
          %span eSports

      %p
        = link_to icon("twitter", 2), "//www.twitter.com/Jauny"
        _
        = link_to icon("linkedin", 2), "//www.linkedin.com/profile/view?id=13273106"
        _
        = link_to icon("github-sign", 2), "//github.com/Jauny"
        _
        = mail_to "jypepin@gmail.com", icon("envelope-alt", 1.7)
