%header
  .profile-pic
    = link_to image_tag("https://execmediaassets.s3.amazonaws.com/v2/hiring/team/Jonathan-Dino.jpg"), root_path
  .bio
    %ul.whois
      %li Jonathan Pepin
      %li= link_to "Projects", projects_path
      %li= link_to "Exec", "http://iamexec.com/"
      %li= link_to "DevBootcamp", "http://www.devbootcamp.com/"
      %li (Alumni and Coach)

    %ul.contact
      %li= mail_to "jypepin@gmail.com" ,"Mail"
      %li= link_to "Twitter", "https://twitter.com/Jauny"
      %li= link_to "Github", "https://github.com/jauny"
      %li= link_to "Linkedin", "http://www.linkedin.com/in/jypepin"
