<header>

	<div class="desc">
		<%= link_to image_tag("https://secure.gravatar.com/avatar/42e10e7df6c5f098e09e8d4a1d612cc3"), root_path %>
	</div>

	<nav>
		<ul class="menu">
			<li id="blog">
				<%= link_to 'Blog', root_path %>
			</li>
			<li id="about">
				<%= link_to 'About', about_path %>
			</li>
			<li id="linkedin">
				<%= link_to 'LinkedIn', 'http://www.linkedin.com/profile/view?id=13273106', target: '_blank' %>
			</li>
			<li id="twitter">
				<%= link_to 'Twitter', 'http://www.twitter.com/Jauny',
					target: '_blank' %>
			</li>
			<li id="github">
				<%= link_to 'Github', 'https://github.com/Jauny',
					target: '_blank' %>
			</li>
			<li>
				<%= link_to 'Tumblr', 'http://jypepin.tumblr.com/',
					target: '_blank' %>
			</li>
		</ul>
	</nav>
</header>