html !!!
%html
  %head
    %title Jonathan Pepin
    = stylesheet_link_tag    "v2", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/header_v3'

    .content
      = yield
